In [36]:
# QUE : 1 Write a python program to display all the header tags from wikipedia.org.

!pip install bs4
!pip install requests

from bs4 import BeautifulSoup
import requests

page = requests.get('https://en.wikipedia.org/wiki/Main_Page')
page 
soup = BeautifulSoup(page.content)
soup
titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

Requirement already satisfied: bs4 in c:\users\dell\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\dell\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dell\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests) (1.26.11)
List all the header tags :

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [6]:
# QUE 2 Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.
import re
import pandas as pd
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]
 
 
 
 
# create a empty list for storing
# movie information
list = []
 
# Iterating over movies to extract
# each movie's details
for index in range(0, 100):
     
    # Separating movie into: 
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {
            "movie_title": movie_title,
            "rating": ratings[index],
            "year": year,
            }
    list.append(data)
 
# printing movie details with its rating.
for movie in list:
    print(movie['movie_title'], '('+movie['year'] +
        ') -', movie['rating'])

df = pd.DataFrame(list)
df.to_csv('imdb_top_100_movies.csv',index=False)

The Shawshank Redemption (1994) - 9.235282330052977
The Godfather (1972) - 9.155958846821937
The Dark Knight (2008) - 8.990165115811948
The Godfather Part II (1974) - 8.98403880921431
12 Angry Men (1957) - 8.951734634704273
Schindler's List (1993) - 8.93891474154422
The Lord of the Rings: The Return of the King (2003) - 8.9302283153517
Pulp Fiction (1994) - 8.847720611403458
The Lord of the Rings: The Fellowship of the Ring (2001) - 8.809791491847852
 Il buono, il brutto, il cattivo (1966) - 8.790155035955804
Forrest Gump (1994) - 8.767295947777859
Fight Club (1999) - 8.748427874808003
The Lord of the Rings: The Two Towers (2002) - 8.735089815588584
Inception (2010) - 8.732995220101216
The Empire Strikes Back (1980) - 8.699201682951466
The Matrix (1999) - 8.669502954774826
GoodFellas (1990) - 8.652585636739074
One Flew Over the Cuckoo's Nest (1975) - 8.638865115742291
Se7en (1995) - 8.604274227295743
Shichinin no samurai (1954) - 8.59863216964468
It's a Wonderful Life (1946) - 8.597723331767455
The Silence of the Lambs (1991) - 8.588098243589576
Cidade de Deus (2002) - 8.579642750315674
Saving Private Ryan (1998) - 8.579263263466872
La vita è bella (1997) - 8.568367978527705
Interstellar (2014) - 8.56743647536191
The Green Mile (1999) - 8.562605617614798
Star Wars (1977) - 8.549403218063773
Terminator 2: Judgment Day (1991) - 8.537206717697064
Back to the Future (1985) - 8.517894801455983
Sen to Chihiro no kamikakushi (2001) - 8.516097093003532
The Pianist (2002) - 8.50688571558666
Psycho (1960) - 8.506829434579947
Gisaengchung (2019) - 8.498867955437944
Léon (1994) - 8.494922173357423
The Lion King (1994) - 8.488088922774498
Gladiator (2000) - 8.486407913076022
American History X (1998) - 8.482336914629995
The Departed (2006) - 8.47599339725244
The Usual Suspects (1995) - 8.471013027866416
The Prestige (2006) - 8.46902302745609
Whiplash (2014) - 8.46652422302133
Casablanca (1942) - 8.462586626726477
Seppuku (1962) - 8.45524522797882
Hotaru no haka (1988) - 8.454890559747028
The Intouchables (2011) - 8.454132472135191
Modern Times (1936) - 8.447853212611053
Once Upon a Time in the West (1968) - 8.442313242576056
Rear Window (1954) - 8.435789985432942
Nuovo Cinema Paradiso (1988) - 8.434439124166706
Alien (1979) - 8.433602360849783
City Lights (1931) - 8.433037053622813
Apocalypse Now (1979) - 8.42382747686738
Memento (2000) - 8.421241789244332
Django Unchained (2012) - 8.407781641999277
Raiders of the Lost Ark (1981) - 8.407539304222722
WALL·E (2008) - 8.394631979098161
The Lives of Others (2006) - 8.384677040547908
Sunset Blvd (1950) - 8.379531544793663
Paths of Glory (1957) - 8.371681370271425
The Shining (1980) - 8.365546302627811
The Great Dictator (1940) - 8.365075718986796
Avengers: Infinity War (2018) - 8.361261155312492
Witness for the Prosecution (1957) - 8.359235474583244
Aliens (1986) - 8.343146230553831
Spider-Man: Into the Spider-Verse (2018) - 8.336393337351838
American Beauty (1999) - 8.332086042383882
Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - 8.328861230856628
The Dark Knight Rises (2012) - 8.326728725372671
Oldeuboi (2003) - 8.320403523610343
Inglourious Basterds (2009) - 8.31669997257704
Amadeus (1984) - 8.316544613625943
Coco (2017) - 8.315053029415544
Joker (2019) - 8.314359188895176
Toy Story (1995) - 8.314008677200514
Braveheart (1995) - 8.313151438013564
Das Boot (1981) - 8.311864914190654
Avengers: Endgame (2019) - 8.304351673165339
Mononoke-hime (1997) - 8.30347720217996
Once Upon a Time in America (1984) - 8.295770238970345
Good Will Hunting (1997) - 8.291252753277567
Kimi no Na wa (2016) - 8.28184825136797
Requiem for a Dream (2000) - 8.274890301771588
Singin' in the Rain (1952) - 8.274352822712299
3 Idiots (2009) - 8.274272860964295
Toy Story 3 (2010) - 8.272270766740276
Tengoku to jigoku (1963) - 8.271298193308393
Capharnaüm (2018) - 8.265165368442128
Star Wars: Episode VI - Return of the Jedi (1983) - 8.264851507308475
Eternal Sunshine of the Spotless Mind (2004) - 8.26228112382997
2001: A Space Odyssey (1968) - 8.262257195701059
Reservoir Dogs (1992) - 8.260405032662428
Jagten (2012) - 8.25680896921927
Idi i smotri (1985) - 8.256182260807993
Top Gun: Maverick (2022) - 8.254362691257397
Citizen Kane (1941) - 8.252018691987844
M - Eine Stadt sucht einen Mörder (1931) - 8.25115345722425
Lawrence of Arabia (1962) - 8.251123082238328
North by Northwest (1959) - 8.24701526365624
 Vertigo (1958) - 8.24367557706224

In [7]:
# QUE 3 Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.
import re
import pandas as pd
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")
movies = soup.select('td.titleColumn')
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]
ratings = [b.attrs.get('data-value')
        for b in soup.select('td.posterColumn span[name=ir]')]
 
 
 
 
# create a empty list for storing
# movie information
list = []
 
# Iterating over movies to extract
# each movie's details
for index in range(0, 100):
     
    # Separating movie into: 
    # 'title', 'year'
    movie_string = movies[index].get_text()
    movie = (' '.join(movie_string.split()).replace('.', ''))
    movie_title = movie[len(str(index))+1:-7]
    year = re.search('\((.*?)\)', movie_string).group(1)
    place = movie[:len(str(index))-(len(movie))]
    data = {
            "movie_title": movie_title,
            "rating": ratings[index],
            "year": year,
            }
    list.append(data)
 
# printing movie details with its rating.
for movie in list:
    print(movie['movie_title'], '('+movie['year'] +
        ') -', movie['rating'])

df = pd.DataFrame(list)
df.to_csv('imdb_top_100_movies.csv',index=False)

Ramayana: The Legend of Prince Rama (1993) - 8.540626692590672
Rocketry: The Nambi Effect (2022) - 8.418075934983918
Golmaal (1979) - 8.397043964358241
Nayakan (1987) - 8.393493215851658
777 Charlie (2022) - 8.388062051289774
Anbe Sivam (2003) - 8.387772289320543
Jai Bhim (2021) - 8.368165623105057
Pariyerum Perumal (2018) - 8.359458177730797
3 Idiots (2009) - 8.352680648616618
 Manichitrathazhu (1993) - 8.3525656990045
Apur Sansar (1959) - 8.35089831226912
#Home (2021) - 8.318281556674455
Black Friday (2004) - 8.312478762079632
Soorarai Pottru (2020) - 8.310130435590482
Kumbalangi Nights (2019) - 8.307482327861118
Taare Zameen Par (2007) - 8.300801071397949
C/o Kancharapalem (2018) - 8.300770552787458
Kireedam (1989) - 8.290122242956768
Dangal (2016) - 8.280449206324134
Kaithi (2019) - 8.264529355787364
Jersey (2019) - 8.260345675095435
Maya Bazaar (1957) - 8.253480119435373
96 (2018) - 8.250570365615896
Natsamrat (2016) - 8.231633396508283
Asuran (2019) - 8.229876650178037
Thevar Magan (1992) - 8.227990512805277
Drishyam 2 (2021) - 8.22694798009379
Visaaranai (2015) - 8.220605636362897
Sita Ramam (2022) - 8.21999664872881
Thalapathi (1991) - 8.211456800839121
Sarpatta Parambarai (2021) - 8.206866412247162
Pather Panchali (1955) - 8.204405916265006
Nadodikkattu (1987) - 8.187282481851225
Jaane Bhi Do Yaaro (1983) - 8.177206619160174
Thani Oruvan (2015) - 8.175143751475638
Drishyam (2013) - 8.173887032877367
Sardar Udham (2021) - 8.171431333344897
Aparajito (1956) - 8.168371018147857
Vada Chennai (2018) - 8.165373600507811
Khosla Ka Ghosla! (2006) - 8.164030739472548
Ratsasan (2018) - 8.146122487906581
Anniyan (2005) - 8.145698826765702
Chupke Chupke (1975) - 8.14251606109295
Peranbu (2018) - 8.133533129335447
Mahanati (2018) - 8.132007520711293
Gangs of Wasseypur (2012) - 8.130768260841394
Satya (1998) - 8.12795159396565
Bangalore Days (2014) - 8.127613145028281
Drishyam (2015) - 8.1274186255707
Premam (2015) - 8.125339599311351
Agent Sai Srinivasa Athreya (2019) - 8.125215900498267
Devasuram (1993) - 8.116939942603453
Super Deluxe (2019) - 8.110567707495075
Bhaag Milkha Bhaag (2013) - 8.107954189983383
Tumbbad (2018) - 8.106845666350644
Andhadhun (2018) - 8.105615408517426
Vikram Vedha (2017) - 8.101827562407586
Guide (1965) - 8.099595988928073
Chithram (1988) - 8.096277742252827
Kannathil Muthamittal (2002) - 8.091697406616465
Zindagi Na Milegi Dobara (2011) - 8.090572489736552
Drishyam 2 (2022) - 8.090394387216378
Sairat (2016) - 8.090024875311519
Shahid (2012) - 8.0883068355247
Vikram (2022) - 8.088291547582338
Chhichhore (2019) - 8.084536229170206
Aruvi (2016) - 8.083194727544383
Paan Singh Tomar (2012) - 8.081261409594923
Iruvar (1997) - 8.079021411304641
Swades: We, the People (2004) - 8.076381731142957
Pyaasa (1957) - 8.07258872571553
Munna Bhai MBBS (2003) - 8.06900122951958
Chak De! India (2007) - 8.068911864790696
Spadikam (1995) - 8.067296338201286
Uri: The Surgical Strike (2019) - 8.06688817177897
Mudhalvan (1999) - 8.064079481475124
Black (2005) - 8.062421232693389
Jo Jeeta Wohi Sikandar (1992) - 8.06054694008815
Hera Pheri (2000) - 8.05581480427023
Dhuruvangal Pathinaaru (2016) - 8.055125042385031
Lagaan: Once Upon a Time in India (2001) - 8.052105678344775
Papanasam (2015) - 8.051983899913655
Pudhu Pettai (2006) - 8.050282274800646
PK (2014) - 8.045459514662413
Queen (2013) - 8.04447063733682
Article 15 (2019) - 8.042584339432368
Talvar (2015) - 8.042522185475004
Mandela (2021) - 8.040100281637326
Soodhu Kavvum (2013) - 8.03924458799294
OMG: Oh My God! (2012) - 8.038285838689209
Sarfarosh (1999) - 8.037841381063453
Sholay (1975) - 8.037009739658561
Udaan (2010) - 8.034020305455764
Barfi! (2012) - 8.032026621943261
The Legend of Bhagat Singh (2002) - 8.028910050055845
Jigarthanda (2014) - 8.028464471969727
Kantara (2022) - 8.027961570012147
Kaakkaa Muttai (2014) - 8.026811950521116
Ustad Hotel (2012) - 8.023401710021513
 Theeran Adhigaaram Ondru (2017) - 8.022228147318692

In [8]:
# QUE 4 Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm
from bs4 import BeautifulSoup
import requests

page=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page
soup=BeautifulSoup(page.content)
soup

first_title=soup.find('h3')
first_title

first_title.text

first_title=[]
for i in soup.find_all('h3'):
    first_title.append(i.text)
first_title

Term=soup.find('p')
Term
Term.text
Term=[]
for i in soup.find_all('p'):
    Term.append(i.text)
Term

Detail=soup.find('div', class_="presidentListing")
Detail

Detail.text

Detail=[]
for i in soup.find_all('div', class_="presidentListing"):
    Detail.append(i.text)
Detail
import pandas as pd
df=pd.DataFrame({"PresidentiaL List":Detail})
df

                                    PresidentiaL List
0   \nShri Ram Nath Kovind (birth - 1945)\nTerm of...
1   \nShri Pranab Mukherjee (1935-2020)\nTerm of O...
2   \nSmt Pratibha Devisingh Patil (birth - 1934)\...
3   \nDR. A.P.J. Abdul Kalam (1931-2015)\nTerm of ...
4   \nShri K. R. Narayanan (1920 - 2005)\nTerm of ...
5   \nDr Shankar Dayal Sharma (1918-1999)\nTerm of...
6   \nShri R Venkataraman (1910-2009)\nTerm of Off...
7   \nGiani Zail Singh (1916-1994)\nTerm of Office...
8   \nShri Neelam Sanjiva Reddy (1913-1996)\nTerm ...
9   \nDr. Fakhruddin Ali Ahmed (1905-1977)\nTerm o...
10  \nShri Varahagiri Venkata Giri (1894-1980)\nTe...
11  \nDr. Zakir Husain (1897-1969)\nTerm of Office...
12  \nDr. Sarvepalli Radhakrishnan (1888-1975)\nTe...
13  \nDr. Rajendra Prasad (1884-1963) \nTerm of Of...

In [9]:
# QUE 5 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
 # a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
 # b) Top 10 ODI Batsmen along with the records of their team and rating.
 # c) Top 10 ODI bowlers along with the records of their team and rating.


from bs4 import BeautifulSoup
import requests
import pandas as pd
info=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
soup=BeautifulSoup(info.content)
team=soup.find_all('tr',class_=('rankings-block__banner','table-body'))
top10=team[0:10]
data = {'Team_Name':[],'Matches': [],'Points': [],'Rating':[]}
for i in top10:
    pnt=i.find_all('td',recursive=True)
    data['Team_Name'].append(i.find('span',class_='u-hide-phablet').text)
    data['Matches'].append(pnt[2].text)
    data['Points'].append(pnt[3].text)
    data['Rating'].append(pnt[4].text.replace('\n',''))
MenTeam=pd.DataFrame(data,index=range(1,11))
MenTeam

,Team_Name,Matches,Points,Rating
1,New Zealand,25,"2,887",115 ...
2,England,30,"3,400",113
3,Australia,32,"3,572",112
4,India,40,"4,377",109
5,Pakistan,24,"2,584",108
6,South Africa,24,"2,392",100
7,Bangladesh,33,"3,129",95
8,Sri Lanka,33,"2,917",88
9,Afghanistan,20,"1,419",71
10,West Indies,41,"2,902",71

In [10]:
req=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_=('rankings-block__banner','table-body'))
top10=player[0:10]
data={'Player_Name':[],'Team_Name': [], 'Rating':[]}
for i in top10:
    bat=i.find_all('td',recursive=True)
    data['Player_Name'].append(bat[1].text.replace('\n',''))
    data['Team_Name'].append(bat[2].text.replace('\n',''))
    data['Rating'].append(bat[3].text.replace('\n',''))
ODIBATSMAN=pd.DataFrame(data,index=range(1,11))
ODIBATSMAN

              Player_Name                Team_Name Rating
1              Babar Azam  PAK                        891
2   Rassie van der Dussen                       SA    766
3             Imam-ul-Haq                      PAK    764
4         Quinton de Kock                       SA    759
5            David Warner                      AUS    747
6             Virat Kohli                      IND    726
7             Steve Smith                      AUS    719
8            Rohit Sharma                      IND    715
9          Jonny Bairstow                      ENG    710
10           Fakhar Zaman                      PAK    695

In [11]:
req=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
soup=BeautifulSoup(req.content)
bowler=soup.find_all('tr',class_=('rankings-block__banner','table-body'))
Top10=bowler[0:10]
bdata={'Player_Name':[],'Team_Name': [], 'Rating':[]}
for i in Top10:
    bat=i.find_all('td',recursive=True)
    bdata['Player_Name'].append(bat[1].text.replace('\n',''))
    bdata['Team_Name'].append(bat[2].text.replace('\n',''))
    bdata['Rating'].append(bat[3].text.replace('\n',''))
ODIBOWL=pd.DataFrame(bdata,index=range(1,11))
ODIBOWL

          Player_Name               Team_Name Rating
1         Trent Boult  NZ                        744
2      Josh Hazlewood                     AUS    727
3      Mitchell Starc                     AUS    665
4         Rashid Khan                     AFG    659
5          Matt Henry                      NZ    656
6          Adam Zampa                     AUS    655
7      Shaheen Afridi                     PAK    654
8     Shakib Al Hasan                     BAN    652
9   Mustafizur Rahman                     BAN    638
10   Mujeeb Ur Rahman                     AFG    637

In [12]:
# 6 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.
from bs4 import BeautifulSoup
import requests
import pandas as pd
req=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup=BeautifulSoup(req.content)
team=soup.find_all('tr',class_=('rankings-block__banner','table-body'))
top10=team[0:10]
data = {'Team_Name':[],'Matches': [],'Points': [],'Rating':[]}

for i in top10:
    pnt=i.find_all('td',recursive=True)
    data['Team_Name'].append(i.find('span',class_='u-hide-phablet').text)
    data['Matches'].append(pnt[2].text)
    data['Points'].append(pnt[3].text)
    data['Rating'].append(pnt[4].text.strip().replace('\n',''))
WomenTeam=pd.DataFrame(data,index=range(1,11))
WomenTeam

       Team_Name Matches Points Rating
1      Australia      18  3,061    170
2        England      28  3,342    119
3   South Africa      26  3,098    119
4          India      27  2,820    104
5    New Zealand      25  2,553    102
6    West Indies      27  2,535     94
7     Bangladesh      13    983     76
8       Thailand       8    572     72
9       Pakistan      24  1,519     63
10     Sri Lanka       8    353     44

In [13]:

req=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_=('rankings-block__banner','table-body'))

top10=player[0:10]
data={'Player_Name':[],'Team_Name': [], 'Rating':[]}

for i in top10:
    bat=i.find_all('td',recursive=True)
    data['Player_Name'].append(bat[1].text.replace('\n',''))
    data['Team_Name'].append(bat[2].text.replace('\n',''))
    data['Rating'].append(bat[3].text.replace('\n',''))
BATW=pd.DataFrame(data,index=range(1,11))  
BATW

            Player_Name                Team_Name Rating
1          Alyssa Healy  AUS                        785
2           Beth Mooney                      AUS    749
3       Laura Wolvaardt                       SA    732
4        Natalie Sciver                      ENG    731
5      Harmanpreet Kaur                      IND    716
6       Smriti Mandhana                      IND    714
7           Meg Lanning                      AUS    710
8        Rachael Haynes                      AUS    701
9   Chamari Athapaththu                       SL    655
10         Ellyse Perry                      AUS    642

In [14]:

req=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup=BeautifulSoup(req.content)
player=soup.find_all('tr',class_=('rankings-block__banner','table-body'))

top10=player[0:10]
data={'Player_Name':[],'Team_Name': [], 'Rating':[]}

for i in top10:
    bat=i.find_all('td',recursive=True)
    data['Player_Name'].append(bat[1].text.replace('\n',''))
    data['Team_Name'].append(bat[2].text.replace('\n',''))
    data['Rating'].append(bat[3].text.replace('\n',''))
W_All=pd.DataFrame(data,index=range(1,11))
W_All

          Player_Name                Team_Name Rating
1        Ellyse Perry  AUS                        374
2     Hayley Matthews                       WI    373
3      Natalie Sciver                      ENG    371
4      Marizanne Kapp                       SA    349
5         Amelia Kerr                       NZ    336
6       Deepti Sharma                      IND    322
7    Ashleigh Gardner                      AUS    270
8       Jess Jonassen                      AUS    246
9      Jhulan Goswami                      IND    214
10  Sophie Ecclestone                      ENG    205

In [15]:
# QUE 7 Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
#i) Headline
#ii) Time
#iii) News Link


req=requests.get('https://www.cnbc.com/world/?region=world')
soup=BeautifulSoup(req.content)
headline = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    headline.append(i.text)
headline

['Iran executes British-Iranian national despite UK, U.S. pleas',
 'Rising commodities prices could be a tailwind for Caterpillar',
 "Cramer's lightning round: Costamare is not a buy",
 'Cramer’s week ahead: Wait before trading on company earnings',
 'CDC review finds it’s unlikely Pfizer booster carries stroke risk for seniors',
 "House targets China, abortion, IRS funding in McCarthy's first week as speaker ",
 "Pro Picks: Watch all of Friday's big stock calls on CNBC",
 "Rep. Santos admits he 'embellished' his resume ― don't do that, experts say",
 '6 question on meditation, answered by an expert ',
 'Judge unseals section of Trump deposition in rape lawsuit by E. Jean Carroll',
 'House Republicans move to regulate crypto industry with a new subcommittee',
 'JPMorgan says college-planning firm it bought lied. Were consumers misled, too?',
 'Bill Gates: We will overshoot 1.5 degrees Celsius of global warming',
 'Take profits on Starbucks after its huge run, and check out these 3 other stocks',
 'Hasbro delays new Dungeons & Dragons licensing rules following fan backlash',
 'U.S. uninsured rate fell during pandemic as Medicaid and Obamacare coverage grew',
 "Wells Fargo's solid 4Q and planned share buybacks support our thesis ",
 'What to watch in markets in the week ahead',
 'Mega Millions jackpot is $1.35 billion. 3 tips for financially navigating a win',
 'Political columnist gets confused about basis points—what you need to know',
 'School lunch, eggs and airfare: Why inflation soared for 10 items in 2022',
 "This week's top gainers include airlines and a media name expected to rally 48%",
 "Wharton's Jeremy Siegel says the U.S. has 'really solved the inflation problem'",
 "These two companies have been on Glassdoor's Best Places To Work list since 2009",
 'Biden to deliver State of the Union address to Congress on Feb. 7',
 'Wall Street loves this fast-casual restaurant, even with a recession looming',
 'Every U.S. National Park will be free on Monday—and 4 other days this year',
 'International ETFs surge to start 2023, but investors should brace for volatility',
 "Stocks making the biggest moves midday: JPMorgan Chase, Wendy's and more",
 '4 trade trends flashing consumer weakness for a market already fearing recession']

In [16]:
time = []
for i in soup.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)
time

['1 Hour Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '15 Hours Ago',
 '15 Hours Ago',
 '15 Hours Ago',
 '15 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago',
 '16 Hours Ago']

In [17]:
news_link = []
for i in soup.find_all('a',class_="LatestNews-headline"):
    news_link.append(i.get('href'))
news_link

['https://www.cnbc.com/2023/01/14/iran-executes-british-iranian-national-despite-uk-us-pleas.html',
 'https://www.cnbc.com/2023/01/13/rising-commodities-prices-could-be-a-tailwind-for-caterpillar-and-these-industrial-names.html',
 'https://www.cnbc.com/2023/01/13/cramers-lightning-round-costamare-is-not-a-buy.html',
 'https://www.cnbc.com/2023/01/13/cramers-week-ahead-wait-before-trading-on-company-earnings.html',
 'https://www.cnbc.com/2023/01/13/pfizer-covid-booster-likely-doesnt-carry-stroke-risk-for-seniors-cdc-says.html',
 'https://www.cnbc.com/2023/01/13/gop-house-targets-china-abortion-irs-funding-in-mccarthys-first-week-as-speaker-.html',
 'https://www.cnbc.com/2023/01/13/pro-picks-watch-all-of-fridays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2023/01/13/george-santos-embellished-his-resume-dont-do-that-experts-say.html',
 'https://www.cnbc.com/2023/01/13/6-meditation-questions-answered-by-an-expert.html',
 'https://www.cnbc.com/2023/01/13/trump-deposition-in-e-jean-carroll-rape-defamation-case-ordered-unsealed.html',
 'https://www.cnbc.com/2023/01/13/house-republicans-move-to-regulate-crypto-with-new-subcommittee.html',
 'https://www.cnbc.com/2023/01/13/jpmorgan-says-college-planning-firm-it-bought-lied-about-its-size.html',
 'https://www.cnbc.com/2023/01/13/bill-gates-we-will-overshoot-1point5-degrees-of-global-warming.html',
 'https://www.cnbc.com/2023/01/13/take-profits-on-starbucks-after-its-huge-run-and-check-out-these-3-other-stocks.html',
 'https://www.cnbc.com/2023/01/13/hasbro-delays-new-dungeons-dragons-licensing-rules.html',
 'https://www.cnbc.com/2023/01/13/us-uninsured-rate-fell-during-covid-pandemic-as-medicaid-and-obamacare-coverage-grew.html',
 'https://www.cnbc.com/2023/01/13/wells-fargos-solid-4q-and-planned-share-buybacks-support-thesis-.html',
 'https://www.cnbc.com/2023/01/13/corporate-profit-reports-in-the-week-ahead-could-show-earnings-recession.html',
 'https://www.cnbc.com/2023/01/13/mega-millions-jackpot-is-1point35-billion-3-tips-for-navigating-a-win.html',
 'https://www.cnbc.com/2023/01/13/matt-yglesias-got-confused-about-basis-points-heres-what-to-know.html',
 'https://www.cnbc.com/2023/01/13/why-inflation-hit-these-10-items-hardest-in-2022.html',
 'https://www.cnbc.com/2023/01/13/this-weeks-best-performers-include-two-airlines-and-a-media-stock-expected-to-rally-48percent.html',
 'https://www.cnbc.com/2023/01/13/whartons-jeremy-siegel-says-the-us-really-solved-the-inflation-problem.html',
 'https://www.cnbc.com/2023/01/13/google-bain-company-make-glassdoor-best-places-to-work-since-2009.html',
 'https://www.cnbc.com/2023/01/13/biden-to-deliver-state-of-the-union-address-to-congress-on-feb-7.html',
 'https://www.cnbc.com/2023/01/13/wall-street-loves-this-fast-casual-restaurant-despite-a-looming-recession.html',
 'https://www.cnbc.com/2023/01/13/what-days-are-us-national-parks-free.html',
 'https://www.cnbc.com/2023/01/13/international-etfs-surge-to-start-2023-but-are-likely-to-be-volatile.html',
 'https://www.cnbc.com/2023/01/13/stocks-making-the-biggest-moves-midday-jpmorgan-chase-wendys-and-more.html',
 'https://www.cnbc.com/2023/01/13/4-troubling-global-trade-trends-flashing-consumer-weakness-recession.html']

In [18]:
import pandas as pd
df = pd.DataFrame({'Headline' : headline, 'Time' : time, 'NewsLink' : news_link})
df

,Headline,Time,NewsLink
0,Iran executes British-Iranian national despite...,1 Hour Ago,https://www.cnbc.com/2023/01/14/iran-executes-...
1,Rising commodities prices could be a tailwind ...,10 Hours Ago,https://www.cnbc.com/2023/01/13/rising-commodi...
2,Cramer's lightning round: Costamare is not a buy,10 Hours Ago,https://www.cnbc.com/2023/01/13/cramers-lightn...
3,Cramer’s week ahead: Wait before trading on co...,10 Hours Ago,https://www.cnbc.com/2023/01/13/cramers-week-a...
4,CDC review finds it’s unlikely Pfizer booster ...,11 Hours Ago,https://www.cnbc.com/2023/01/13/pfizer-covid-b...
5,"House targets China, abortion, IRS funding in ...",11 Hours Ago,https://www.cnbc.com/2023/01/13/gop-house-targ...
6,Pro Picks: Watch all of Friday's big stock cal...,11 Hours Ago,https://www.cnbc.com/2023/01/13/pro-picks-watc...
7,Rep. Santos admits he 'embellished' his resume...,11 Hours Ago,https://www.cnbc.com/2023/01/13/george-santos-...
8,"6 question on meditation, answered by an expert",11 Hours Ago,https://www.cnbc.com/2023/01/13/6-meditation-q...
9,Judge unseals section of Trump deposition in r...,11 Hours Ago,https://www.cnbc.com/2023/01/13/trump-depositi...
10,House Republicans move to regulate crypto indu...,12 Hours Ago,https://www.cnbc.com/2023/01/13/house-republic...
11,JPMorgan says college-planning firm it bought ...,13 Hours Ago,https://www.cnbc.com/2023/01/13/jpmorgan-says-...
12,Bill Gates: We will overshoot 1.5 degrees Cels...,13 Hours Ago,https://www.cnbc.com/2023/01/13/bill-gates-we-...
13,"Take profits on Starbucks after its huge run, ...",13 Hours Ago,https://www.cnbc.com/2023/01/13/take-profits-o...
14,Hasbro delays new Dungeons & Dragons licensing...,13 Hours Ago,https://www.cnbc.com/2023/01/13/hasbro-delays-...
15,U.S. uninsured rate fell during pandemic as Me...,14 Hours Ago,https://www.cnbc.com/2023/01/13/us-uninsured-r...
16,Wells Fargo's solid 4Q and planned share buyba...,14 Hours Ago,https://www.cnbc.com/2023/01/13/wells-fargos-s...
17,What to watch in markets in the week ahead,14 Hours Ago,https://www.cnbc.com/2023/01/13/corporate-prof...
18,Mega Millions jackpot is $1.35 billion. 3 tips...,14 Hours Ago,https://www.cnbc.com/2023/01/13/mega-millions-...
19,Political columnist gets confused about basis ...,14 Hours Ago,https://www.cnbc.com/2023/01/13/matt-yglesias-...
20,"School lunch, eggs and airfare: Why inflation ...",14 Hours Ago,https://www.cnbc.com/2023/01/13/why-inflation-...
21,This week's top gainers include airlines and a...,14 Hours Ago,https://www.cnbc.com/2023/01/13/this-weeks-bes...
22,Wharton's Jeremy Siegel says the U.S. has 'rea...,15 Hours Ago,https://www.cnbc.com/2023/01/13/whartons-jerem...
23,These two companies have been on Glassdoor's B...,15 Hours Ago,https://www.cnbc.com/2023/01/13/google-bain-co...
24,Biden to deliver State of the Union address to...,15 Hours Ago,https://www.cnbc.com/2023/01/13/biden-to-deliv...
25,"Wall Street loves this fast-casual restaurant,...",15 Hours Ago,https://www.cnbc.com/2023/01/13/wall-street-lo...
26,Every U.S. National Park will be free on Monda...,16 Hours Ago,https://www.cnbc.com/2023/01/13/what-days-are-...
27,"International ETFs surge to start 2023, but in...",16 Hours Ago,https://www.cnbc.com/2023/01/13/international-...
28,Stocks making the biggest moves midday: JPMorg...,16 Hours Ago,https://www.cnbc.com/2023/01/13/stocks-making-...
29,4 trade trends flashing consumer weakness for ...,16 Hours Ago,https://www.cnbc.com/2023/01/13/4-troubling-gl...

In [ ]:
# QUE 8 Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
#Scrape below mentioned details :
#i) Paper Title
#ii) Authors
#iii) Published Date
#iv) Paper URL

In [44]:
from bs4 import BeautifulSoup
import requests
req=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup=BeautifulSoup(req.content)
paper_title = []
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper_title.append(i.text)
paper_title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [39]:
aut = []
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    aut.append(i.text)
aut

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [40]:
published_date = []
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    published_date.append(i.text)
published_date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [45]:
paper_url = []
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    paper_url.append(i.get('href'))
paper_url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [46]:
df = pd.DataFrame({'Paper Title':paper_title , 'Authors': aut, 'Published Date': published_date, 'Paper URL':paper_url})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [19]:
# QUE 9 Write a python program to scrape mentioned details from dineout.co.in :
#i) Restaurant name
#ii) Cuisine
#iii) Location
#iv) Ratings
#v) Image URL



req=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup=BeautifulSoup(req.content)
restaurant_name = []
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)
restaurant_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [20]:

location = []
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [27]:
sta = []
for i in soup.find_all('span',class_="double-line-ellipsis"):
    sta.append(i.text.split('|')[1])
sta

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [31]:
rat = []
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rat.append(i.text)
rat

['4.1', '3.9', '4.3', '3.9', '4', '3.9', '3.6', '3.8', '4.3']

In [28]:
images = []
for i in soup.find_all('img',class_="no-img"):
    images.append(i.get('data-src'))
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [35]:
df = pd.DataFrame({'Restaurant name':restaurant_name, 'Cuisine': sta, 'Location': location, 'Rating': rat, 'Image_URL':images})
df

,Restaurant name,Cuisine,Location,Rating,Image_URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...